/*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Variables */
:root {
	--main-color: #d90429;
	--text-color: #020102;
	--big-color: #fff;
	--blue: #0000ff;
	--border: #330000;
	--hover1: #99ff33;
	--hover2: #ffff99;
	--hover3: #fbfbf0;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	background-image: url(../images/bg4.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.form-box {
	width: 90%;
	max-width: 450px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 50px 60px 70px;
	text-align: center;
}

.form-box h1 {
	font-size: 20px;
	margin-bottom: 50px;
	color: #3c00a0;
	position: relative;
}

.form-box h1::after {
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}
.input-field {
	background-color: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height 0.1s;
	overflow: hidden;
}
input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}
.input-field i {
	margin-left: 15px;
	color: #999;
}
form p {
	text-align: left;
	font-size: 13px;
}
form p a {
	text-decoration: none;
	color: #3c00a0;
}
.btn-field {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.btn-field button {
	flex-basis: 48%;
	background: #3c00a0;
	color: #fff;
	height: 40px;
	border-radius: 20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: background 1s;
}

.input-group {
	ma-height: 290px;
}

.btn-field button.disable {
	background: #eaeaea;
	color: #555;
}






@media (max-width: 768px) {
	.container {
	  width: 100%;
	  margin: 5% auto;
	  
	}
}
@media (max-width: 768px) {
	.form-box {
	  max-width: 100%;
	  padding: 30px;
	}
  
	.form-box h1 {
	  font-size: 15px;
	  margin-bottom: 30px;
	}
}
@media screen and (max-width: 768px) {
	.form-box h1::after {
	width: 20px;
	height: 3px;
	bottom: -8px;
	}
	.input-field {
	max-height: 55px;
	}
}
@media only screen and (max-width: 768px) {
	input {
		padding: 12px 10px;
	}

	.input-field i {
		margin-left: 10px;
	}

	form p {
		font-size: 12px;
	}
}
@media only screen and (max-width: 768px) {
	.btn-field button {
	  height: 30px;
	  font-size: 12px;
	}
  
	.input-group {
	  max-height: 290px;
	}
  }
